* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.pro {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3em;
    color: #fff;
    margin-top: 5em;
}

.inverse-pro {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 3em;
    color: #fff;
    margin-top: 5em;
}


.pro h3,
.inverse-pro h3 {
    margin-top: 1.4em;
    margin-bottom: 1em;
}

.pro p,
.inverse-pro p {
    width: 100%;
}

.proj-btn-container {
    margin-top: 1.4em;
    display: flex;
    align-items: center;
    gap: 2em;
}

.proj-btn-container button {
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 10px 20px;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}

.proj-btn-container button a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 1024px) {
    .pro > img,
    .inverse-pro > img {
        width: 335px;
    }
}
 
@media (max-width: 768px) {
    .pro p,
    .inverse-pro p {
        font-size: 14px;
    }

    .pro > img,
    .inverse-pro > img {
        width: 290px;
    }

}

@media (max-width: 425px) {
    .pro,
    .inverse-pro {
        flex-direction: column;
    }

    .pro > div,
    .inverse-pro > div {
        text-align: center;
    }

    .proj-btn-container {
        justify-content: center;
    }
}

@media (max-width: 375px) {
    .pro p,
    .inverse-pro p {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .pro > img,
    .inverse-pro > img {
        width: 260px;
    }
}