*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.skillset-container {
    background: linear-gradient(180deg, #220522 -9.31%, #0E171E 54.98%);
    padding-top: 50px;
    width: 100%;
}

.inner-inner {
    width: 80%;
    margin: auto;
}


.inner-skillset h2 {
    font-family: 'Vultures';
    color: #fff;
    font-weight: 200;
    word-spacing: 6px;
    font-size: 32px;
}



.btn-innerskill {
    border: none;
    padding: 13px 20px;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}
 
.inner-skillset {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.exper-bar {
    position: sticky;
    top: 7%;
    height: 100vh;
}

.exper-bar h1 {
    font-family: 'Gara';
    color: #fff;
}

.exper-bar h1,
.selected-inner {
    width: 0%;
    opacity: 0;
    transform: scale(0);
}

.exper-bar-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr ;
}


.detailed-bar {
    margin-left: 5em;
    margin-bottom: 4em;
    border-left: 1px solid #fff;
    padding-left: 4em;
    position: relative;
    opacity: 0;
}

.white-1,
.white-2,
.white-3,
.white-4 {
    position: absolute;
    right: 97.7%;
}

.white-1 {
    top: 0%;
}

.white-2 {
    top: 25%;
}

.white-3 {
    top: 50%;
}

.white-4 {
    top: 75%;
}

.lang,
.prom-lang,
.other-tools,
.tools-container {
    opacity: 0;
}

@media (max-width: 768px) {
    .detailed-bar {
        margin-left: 1em;
    }

    .exper-bar-container {
        grid-template-columns: auto auto;
    }

    .white-1, .white-2, .white-3, .white-4 {
        position: absolute;
        right: 95.9%;
    }
}

@media (max-width: 425px) {
    .exper-bar-container {
        grid-template-columns: auto;
    }


    .detailed-bar {
        margin-left: 0px;
        padding-left: 2em;
    }
}

@media (max-width: 320px) {
    .white-1, .white-2, .white-3, .white-4 {
        position: absolute;
        right: 94.4%;
    }
}