* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.talk-container {
    background: linear-gradient(180deg, #220522 -9.31%, #0E171E 54.98%);
    padding-top: 50px;
    position: relative;
}

.talk-inner {
    width: 80%;
    margin: auto;
}


.inner-talkset {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.inner-talkset h2 {
    font-family: 'Vultures';
    color: #fff;
    font-weight: 200;
    word-spacing: 6px;
    font-size: 32px;
}


.form-container {
    margin-top: 5em;
}

.form-container h1 {
    font-family: 'Gara';
}

.form-container h1,
.form-container span p {
    color: #fff;
}

.form-container span {
    display: flex;
    gap: .5em;
    align-items: center;
}

form {
    margin-top: 5em;
    margin-bottom: 2em;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.name-text,
.word-text {
    background: transparent;
    border: 1px solid #fff;
    padding: 20px 15px;
    border-radius: 4px;
    color: #fff;
}

.name-text::placeholder,
.word-text::placeholder {
    color: #fff;
}

.word-text {
    resize: none;
    height: 25vh;
}

.send {
    margin-bottom: 2em;
}

.abs {
    position: absolute;
}

.big {
    top: 60%;
    right: 13%;
}

.ci-1 {
    top: 40%;
    right: 37%;
}

.ci-2 {
    top: 80%;
    right: 30%;
}

.tri-1 {
    top: 57%;
    left: 2%;
}

.tri-2 {
    top: 90%;
    left: 37%;
}

@media (max-width: 768px) {
    form {
        width: 47vw;
    }
}

@media (max-width: 425px) {
    form {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .form-container span p {
        font-size: 13px;
    }
}