* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Vultures';
    src: url('../Fonts/Taken\ by\ Vultures\ Demo.otf');
}



.work-container {
    background: linear-gradient(180deg, #220522 -9.31%, #0E171E 54.98%);
    padding-top: 50px;
}

.work-work h2 {
    font-family: 'Vultures';
    color: #fff;
    font-weight: 200;
    word-spacing: 6px;
    font-size: 32px;
}

.work-work {
    width: 80%;
    margin: auto;
}

.btn-work {
    border: 2px solid #fff;
    color: #fff;
    padding: 13px 20px;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}

.btn-work-container {
    opacity: 0
}

.btn-work:hover {
    background: #fff;
    transition: ease-in 700ms;
    color: #220522;
}

.inner-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects {
    margin-top: 1em;
    opacity: 0;
    transform: scale(0);
}

.projects-2 {
    opacity: 0;
    transform: scale(0);
}

.projects h3,
.projects-2 h3 {
    color: #fff;
    font-family: 'Gara';
}

.selected,
.selected-2 {
    display: flex;
    color: #fff;
    align-items: center;
    gap: .4em;
}

.projects h3 {
    font-size: 30px;
}

.selected-2 p {
    font-size: 14px;
}

.inner-work-2 {
    margin-top: 3em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.proj-cont {
    padding-bottom: 7em;
}

.wite {
    position: absolute;
    top: 20%;
    left: 40%;
}

@media (max-width: 425px) {
    .wite {
        top: 32%;
        left: 68%;
        width: 30px;
    }

    .projects {
        margin-top: 0em;
    }

    .inner-work-2 {
        align-items: flex-end;
        gap: 1em;
    }

    .work-work {
        width: 85%;
    }
}

@media (max-width: 375px) {
    .wite {
        left: 70%
    }

    .selected p {
        font-size: 13px;
    }

    .selected-2 p {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .projects h3 {
        font-size: 23px;
    }

    .selected-2 p {
        font-size: 10px;
    }

    .selected p {
        font-size: 11px;
    }
}